# global
.DS_Store
# server
server/venv/
server/__pycache__/
server/.env
# web
web/node_modules/
web/.next/
web/out/
web/build/
web/.env*
web/.pnpm-debug.log*

# Python
**/__pycache__/
*.pyc
# Local DB
server/*.db
server/*.sqlite3